# https://dart.dev/guides/libraries/private-files
# Created by https://www.toptal.com/developers/gitignore/api/flutter,android,visualstudiocode,intellij+all

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart

# Android related
android/**/generated/
android/local.properties
# android/app/src/main/res/drawable-*/launcher_icon.png
# android/app/src/main/res/mipmap-*/launcher_icon.png
android/.gradle/
android/.kotlin/
.gradle/
*.keystore
*.jks
local.properties

# iOS/macOS related
ios/**/config.env
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
**/doc/api/
.pod-cache/
Podfile.lock
Pods/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Linux related
linux/flutter/ephemeral/
linux/flutter/generated_plugins.cmake

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake

# IDE related
.idea/
*.iml
*.iws
*.ipr
.vscode/
.history
.factorypath
.project
.settings/
*.sublime-project
*.sublime-workspace

# OS related
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets/Env
.env*

# Symbolic links
*.lnk
